<li class="flex flex-col gap-1 group relative">
    <span class="text-base font-medium text-gray-900">{{ todo.title }}</span>
    <span class="text-sm text-gray-500">{{ todo.description }}</span>
    <span class="text-xs mt-1">
        {% if todo.completed %}
            <span class="px-2 py-0.5 rounded bg-green-50 text-green-700">Completed</span>
        {% else %}
            <span class="px-2 py-0.5 rounded bg-gray-100 text-gray-500">Open</span>
        {% endif %}
    </span>
    <span class="text-xs text-gray-400">{{ todo.created_at }}</span>
    <button
            class="bg-blue-500"
            onclick="deleteTodo({{ todo.id }}, this)">
        Delete
    </button>

    <button hx-delete="{% url 'todos:delete_todo' todo.id %}"
            hx-target="closest li"
            hx-swap="delete"
            hx-confirm="Wirklich löschen?"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            class="bg-red-500">
    >
        Löschen
    </button>


</li>

<script>
    function deleteTodo(todoId, btn) {
        fetch(`/todos/${todoId}/delete/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            if (response.ok) {
                btn.closest('li').remove();
            } else {
                alert('Delete failed');
            }
        });
    }
</script>