<li class="container flex flex-col gap-1 p-3 rounded-md group relative bg-white border border-black">
    <span class="text-base font-medium text-gray-900">{{ todo.title }}</span>
    <span class="text-sm text-gray-500">{{ todo.description }}</span>

    <div class="flex flex-row gap-1 absolute bottom-1 right-1">

        <span class="text-xs mt-1">
            {% if todo.completed %}
                <span class="px-2 py-0.5 rounded bg-green-50 text-green-700">Completed</span>
            {% endif %}
        </span>

        <span class="text-xs mt-1">
            {% if todo.archived %}
                <span class="px-2 py-0.5 rounded bg-violet-200 text-violet-700">Archived</span>
            {% endif %}
        </span>

    </div>

    <span class="text-xs text-gray-400">{{ todo.created_at }}</span>

    <div class="flex flex-row gap-1 absolute top-1 right-1">

        <button hx-put="{% url 'todos:archive_todo' todo.id %}"
                hx-target="closest li"
                hx-swap="outerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                class="px-2 py-1 rounded-xl bg-violet-500 {% if todo.archived %} hidden {% endif %}">
            <i class="bi bi-archive"></i>
        </button>

        <button hx-delete="{% url 'todos:delete_todo' todo.id %}"
                hx-target="closest li"
                hx-swap="outerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                class="px-2 py-1 rounded-xl bg-red-500">
            <i class="bi bi-trash"></i>
        </button>

    </div>
</li>